.markdown-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

.markdown-container h1, h2 {
  font-family: 'Playfair Display', serif;
  color: #6b2e2e;
}